@import "tailwindcss";

/* Root Variables */
:root {
  --background: #f3f8ff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
 --font-sans: var(--font-sans); /* Inter from layout.js */
  --font-mono: var(--font-mono); /* Geist Mono from layout.js */ 
  
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

/* Base Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;  
  margin: 0;
}


  @import "tailwindcss";

/* Root Variables */
:root {
  --background: #f3f8ff;
  --foreground: #171717;
  --primary: #FF0000;

}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
 --font-sans: var(--font-sans); /* Inter from layout.js */
  --font-mono: var(--font-mono); /* Geist Mono from layout.js */ 
  
}

/* Dark Mode */
@media (prefers-color-scheme: dark) {
  :root {
    /* --background: #0a0a0a; */
    --foreground: #ededed;
  }
}

/* Base Styles */
body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-sans), sans-serif;  
  margin: 0;
}


  /* Custom styles for the floating label effect */
.peer:focus + .label-float,
.peer:not(:placeholder-shown) + .label-float {
  top: -0.75rem; /* Moves the label above the input field */
  font-size: 0.75rem; /* Shrinks the font size */
  color: #3b82f6; /* Changes color to blue-500 */
  transform: translateX(-0.25rem); /* Adjusts horizontal position slightly */
  background-color: white; /* Ensures the background covers the input border */
  padding: 0 0.25rem; /* Adds padding to the background */
}
.label-static {
  pointer-events: none; /* Prevents the label from blocking clicks on the input */
}